* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-repeat: no-repeat;
}

main {
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}

.top {
	background: rgba(255, 255, 255, 0.3);
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 10%;
}

.nav {
	display: flex;
	justify-content: start;
}

.nav .btn {
	white-space: nowrap;
	text-decoration: none;
	color: #000;
	position: relative;
	margin: 1%;
	padding:1%;
}

.log-in-outline {
	position: relative;
	height: 100%;
	float: right;
}

.search {
	left: 50%;
	top: 50%;
	display: flex;
	transform: translate(-50%, -50%);
	position: absolute;
	border-bottom: 1px solid #999;
	overflow: hidden;
}

.search form input {
	border: none;
	background: none;
	outline: none;
}
