<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Sukabing's Website</title>
		<link rel="stylesheet" href="../static/css/index.s.css" media="(max-width: 720px)">
	    <link rel="stylesheet" href="../static/css/index.l.css" media="(min-width: 720px)">
		<!--
		<script charset="utf-8">
			window.addEventListener('DOMContentLoaded', function() {
var bg = document.getElementById('bg');
        var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
		bg.style.backgroundSize = w + 'px ' + h + 'px';
      });
		
		</script>-->
	</head>
	<body id="bg">
		<div class="top-actionbar">
			<div class="left-widgets">
				<div class="btn">
					<a href="#">源码库</a>
				</div>
				<div class="btn">
					<a href="#">小说</a>
				</div>
			</div>
			<div class="right-widgets">
				<div class="btn">
					<a href="#">用户</a>
				</div>
			</div>
		</div>
		<div class="main-content">
			<span class="text-1" style="float:left;padding-top: 30vh; padding-left: 20vh;">这只是一个小破站</span>
			<span class="text-2" style="float: right;padding-right: 10vh;padding-top: 20vh;">没什么好看的</span>
		</div>
	</body>
</html>
