<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Sukabing's Novels</title>
	</head>
	<body>
		<div class="left-content">
			<div class="novels-list">
				<form method="post">
					{% csrf_token %}
					<input type="submit" name="" id="" value="book name">
				</form>
			</div>
			<div class="update-report">
				<span class="update-report-content"></span>
			</div>
		</div>
		<div class="right-content">
			<div class="novel-content">
				
			</div>
		</div>
	</body>
</html>
