<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Sukabing's Novels</title>
		<link rel="stylesheet" href="../static/css/novels.s.css" media="(max-width: 720px)">
		<link rel="stylesheet" href="../static/css/novels.l.css" media="(min-width: 720px)">
		<style type="text/css" media="screen">
			
		</style>
	</head>
	<body>
		<div class="left-content">
			<div class="novels-list">
				<form method="post">
					{% csrf_token %}
					<input type="submit" class="select-novel" value="book name">
				</form>
			</div>
			<div class="update-report">
				<span class="update-report-content"></span>
			</div>
		</div>
		<div class="right-content">
			<div class="novel-content">
				
			</div>
		</div>
	</body>
</html>
