<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/blogs_style.css" type="text/css" media="all">
    <title>Blogs</title>
</head>
<body>
<script src="../static/js/javascript.js"></script>
    <main>
	<div class="up">
            <div class="nav">
                <span class="nav_btn"><a href="#">主页</a></span>
                <span class="nav_btn"><a href="#">博客</a></span>
                <span class="nav_btn"><a href="#">链接</a></span>
                <span class="nav_btn"><a href="stories" target="_brank">故事</a></span>
            </div>
	</div>
	<div class="down">
        <div class="sidebar">
            <a class="btn" href="#">all</a>
            <a class="btn" href="#">classify</a>
            <a class="btn" href="#">favorites</a>
        </div>
        <div class="content"></div>
	</div>
    </main>
</body>
</html>
