<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Blogs</title>
		<link rel="stylesheet" href="../static/css/blogs_style.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
	<script src="../static/js/javascript.js"></script>
		<main>
			<div class="up">
				<div class="nav">
                                        <span class="btn"><a href="#">主页</a></span>
                                        <span class="btn"><a href="#">博客</a></span>
                                        <span class="btn"><a href="#">链接</a></span>
                                        <span class="btn"><a href="stories" target="_brank">故事</a></span>
                                </div>
                                <a href="/login"><img src="../static/plugins/ionicons/log-in-outline.svg" class="log-in-outline" alt="log-in-outline"></a>
			</div>
			<div class="down">
				<div class="sidebar">
					
				</div>
				<div class="contents">
					
				</div>
			</div>
		</main>
	</body>
</html>
