<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen and (orientation:landscape)">
	<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<title>Website</title>
	</head>
	<body>
	<script src="../static/js/javascript.js"></script>
		<main>
		
			<div class="top">
				<div class="nav">
					<span class="btn"><a href="#">主页</a></span>
					<span class="btn"><a href="#">博客</a></span>
					<span class="btn"><a href="#">链接</a></span>
					<span class="btn"><a href="stories" target="_brank">故事</a></span>
				</div>
				<a href="/login"><img src="../static/plugins/ionicons/log-in-outline.svg" class="log-in-outline" alt="log-in-outline"></a>
			</div>
			<div class="middle">
				<div class="search">
					<form method="post" accept-charset="utf-8" action= "/">
            {%csrf_token%}
						<input type="text" name="q">
					</form>
				</div>
				<div class="links">
					
				</div>
			</div>	
		</main>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	</body>
</html>
